@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-text-color: #000000;
    --primary-color: #FFFFFF;
    --secondary-color: #E7E7E7;
    --primary-background-color: #3380C3;
    --secondary-background-color: #13264A;
    --primary-accent-color: #8BC34A;
    --secondary-accent-color: #ADD580;
    --primary-button-color: #F47820;
    --secondary-button-color: #C14027;
    --primary-hover-color: #C3C2B3;
    --secondary-hover-color: #A5A5A5;
}

/* Basic formatting */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HTML Sections */
nav {
    background-color: var(--primary-background-color);
    padding: 2.5%;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav li {
    list-style-type: none;
}
nav li a{
    text-decoration: none;
}
nav li a:link, nav li a:visited {
    color: var(--primary-color);
}
nav li a:hover {
    color: var(--primary-button-color);
}

/* HTML Elements */
h1 {
    padding: 5%;
}

/* Classes */
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.body-text {
    padding: 5%;
}
.mini-nav {
    padding: 0% 0% 5% 0%;
}
.sub-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* IDs */
#irrigation {
    color: #000000;
}
#soil {
    color: #000000;
}
#harvest {
    color: #000000;
}